body {
    background-color: white;
    font-family: sans-serif;
}

#toolbar {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#tool-container {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#spacer {
    width: 86vw;
}

#profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#search-area {
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 150px;
}

#main-logo {
    width: auto;
    height: 5.5em;
    margin: 0 auto;
    padding: 40px;
}

#search-bar {
    font-size: 14px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    padding-left: 25px;
}

#search-bar:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

#buttons {
    font-size: 16px;
    width: 800px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#languages-local {
    width: 300px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#languages-center {
    width: 800px;
    display: flex;
    justify-content: center;
}

.main-buttons {
    width: 180px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    color: hsl(0, 0%, 50%);
}

.main-buttons:hover {
    background-color: #f5f5f5;
    border: 1px solid lightgray;
}

.information {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
    border-top: 1px solid #adadad;
    padding-top: 15px;
    padding-left: 2em;
    background-color: rgb(230, 230, 230);
    text-align: left;
}

a {
    text-decoration: none !important;
    color: #5f5f5f;
}

a:hover {
    color: black;
}