body {
    background-color: white;
    font-family: sans-serif;
}

#toolbar {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-end;
    /*background-color: tomato;*/
}

#profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#search-area {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 150px;
}

#main-logo {
    width: auto;
    height: 5.5em;
    margin: 0 auto;
    padding: 40px;
}

#search-bar {
    margin-bottom: 20px;
    height: 3em;
    border-radius: 10px;
    border-style: solid #838383;
    padding-left: 15px;
}

#buttons {
    width: 800px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#languages-local {
    width: 800px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-buttons {
    width: 180px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: hsl(0, 0%, 92%);
    color: hsl(0, 0%, 45%);
}

footer {
    background-color: lightgray;
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 0;
    padding: 5px;
}